{% extends 'base.html.twig' %}

{% block body %}

    <div class="container mt-3">
        <h3 class="mb-3">Liste des produits :</h3>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">description</th>
                <th scope="col">Catégorie</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.category.title }}</td>
                <td>{{ product.price }}€</td>
                <td>{{ product.quantity }} ex.</td>
                <td>
                    <a href="{{ path('singleProduct', { id: product.id }) }}" class="btn btn-outline-primary btn-sm">Voir</a>
                    <a href="{{ path('editProduct', { id: product.id }) }}" class="btn btn-outline-warning btn-sm">Modifier</a>
                    <a href="{{ path('deleteProduct', { id: product.id }) }}" class="btn btn-outline-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}