{% extends 'base.html.twig' %}

{% block body %}

    {% include 'componants/header.html.twig' %}

    <div class="container mt-3">
        <h3 class="mb-3">Resultat de la recherche :</h3>
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Titre</th>
                <th scope="col">description</th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <th scope="row">{{ product.id }}</th>
                    <td>{{ product.title }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.price }}€</td>
                    <td>{{ product.quantity }} ex.</td>
                    <td>
                        <a href="{{ path('singleProduct', { id: product.id }) }}" class="btn btn-outline-primary btn-sm">Voir</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% include 'componants/buttons/homeButtons.html.twig'%}
    </div>
{% endblock %}